#flash-message-area{
	position: fixed;
	z-index: 1111111;
	bottom:5px;
	left:5px;
	width:300px;
}

#flash-message-area .flash-message{
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 0 3px #aaa;
	margin-bottom:5px;
	background:#fafafa;
	padding:10px 5px;
	min-height: 70px;
}
#flash-message-area .flash-message.error{
	background:#FFC2C2;
}
#flash-message-area .flash-message.success{
	background:#CEFBD6;
	background:#C7D7EF;
}
