#controlPanel{
	position:fixed;
	bottom:10px;
	z-index:1000;
	height:52px;
	padding:5px 30px 5px 0px;
	background:#fff;
	border: 1px solid #ccc;
	border-left: 0;
	border-radius:0px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#controlPanel .btn{
	margin:0 0 0 5px;
}
#controlPanel.turn-aside{
	padding-right:20px;
}
#controlPanel.turn-aside .btn{
	display:none;
}


.editable.mce-content-body{
	background:#ffd;
}
#editableImagesContainer img{
	max-height:100px;
	max-width:100px;
	margin:5px;
	border:1px solid #eee;
}
#editableImagesContainer img:hover{
	border:1px solid #333;
}
#uploadFilesContainer{
	display:none;
}
#editableImagesContainer+#uploadFilesContainer{
	margin:40px 0;
	display:block;
	border-bottom:1px #333 solid;
}
#progress{
	display:none;
}


/*  no bootstrap. Will enable after create no-bs-lightbox for add pages menu  */
#controlPanel .button{
	font-size:26px;
	line-height:20px;
	vertical-align:middle;
	color: #333;
	background-color: #FFF;
	display: inline-block;
	margin: 0 0 0 5px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-color: #CCC;
	white-space: nowrap;
	padding: 6px 12px;
	//border-radius: 4px;
	-moz-user-select: none;
}

#controlPanel .button:hover{
	background-color: #eee;
}

#controlPanel .button:hover+.add-menu,
#controlPanel .add-menu:hover{
	display: block;
}
#controlPanel .add-menu{
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0px;
	margin: 0 0px 0px;
	list-style: outside none none;
	font-size: 14px;
	text-align: left;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	background-clip: padding-box;
}
#controlPanel .add-menu li>a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
	cursor:pointer;
}
#controlPanel .add-menu li>a:hover{
	background-color: #eee;
}




#controlPanelTrigger
{
	height: 52px;
	width:21px;
	padding:6px;
	top: -1px;
	right: -1px;
	background:#FFA500;
	cursor:pointer;
	position:absolute;
	border: 1px solid #777;
	border-radius:0px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#controlPanelTrigger:hover
{
	background:#ee9000;
}
