#default{
	#small-boxes{
		margin-top:30px;
	}

	a.small-box:hover{
		p{
			text-decoration:underline;
		}
	}
	.small-box{
		display:block;
		padding:10px;
		margin-bottom:30px;
		position:relative;
		height:110px;
		overflow:hidden;
		text-shadow: 0px 0px 1px #aaa;
		&:hover{
			text-decoration:none;
		}
		p{
			color:#fff;
		}
		h3{
			font-weight:bold;
			color:#fff;
			font-size:32px;
		}
		.icon{
			position:absolute;
			top:2px;
			right:10px;
			font-size:40px;
			color:#fff;
			opacity:0.5;
		}
		
	}
	#server-charts{
		margin-top:-10px;
		margin-left:-5px;
		height:65px;
		.server-chart{
			padding:0px;
			margin-top:0px;
			width:75px;
			small{
				display:block;
				width:100%;
				text-align:center;
				top:30px;
				left:0px;
				position:absolute;
				color:#444;
				text-shadow: none;
			}
			.ct-series-a path {
				stroke: DarkCyan;
			}
			.ct-series-b path {
				stroke: lightgray;
			}
		}
		
	}

	hr{
		margin:0;
	}

	.page-header{
		margin-bottom:0px;
	}
	.panel{
		margin-top:30px;
	}
}


.bg-Aquamarine{
	background-color:Aquamarine;
}
.bg-Bisque{
	background-color:Bisque;
}
.bg-Coral{
	background-color:Coral;
}
.bg-DarkCyan{
	background-color:DarkCyan;
}
.bg-DarkOrange{
	background-color:DarkOrange;
}
.bg-DarkSeaGreen{
	background-color:DarkSeaGreen;
}
.bg-DeepSkyBlue{
	background-color:DeepSkyBlue;
}
.bg-DarkTurquoise{
	background-color:DarkTurquoise;
}
.bg-Gold{
	background-color:Gold;
}
.bg-GoldenRod{
	background-color:GoldenRod;
}
.bg-SandyBrown{
	background-color:SandyBrown;
}
.bg-Khaki{
	background-color:Khaki;
}
.bg-MediumSeaGreen{
	background-color:MediumSeaGreen;
}
.bg-OliveDrab{
	background-color:OliveDrab;
}
.bg-SlateBlue{
	background-color:SlateBlue;
}
.bg-SkyBlue{
	background-color:SkyBlue;
}
.bg-Tomato{
	background-color:Tomato;
}
.bg-YellowGreen{
	background-color:YellowGreen;
}
.bg-SandyBrown{
	background-color:SandyBrown;
}
.bg-RoyalBlue{
	background-color:RoyalBlue;
}
