#IStorageList{
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: space-around;
	&>div{
	
	}
	img{
		max-width:300px;
		max-height:300px;
		background-color:#eee;
		padding:2px;
	}
	.thumbnail{
		position:relative;
	}
	.thumbnail.active{
		//background-color:orange;
	}
	.thumbnail .badge{
		box-shadow: 1px 1px 5px #777;
		position: absolute;
		top: 7px;
		right: 7px;
		background-color: #FFF;
		background-color: orange;
		border: 1px solid #ee9000;
		color: #fff;
		border-radius:2px;
		z-index:100;
	}

}
