html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	height: 100%;
	padding-top:50px;
	background:#fafafa;
	&>div.container{
		min-height: 100%; margin:auto;
		background:#fff;
		&>div{
			padding:0 20px;
		}
	}
}


a[target="_blank"]:after {
	content: "" url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVElEQVR42n3PgQkAIAhEUXdqJ3dqJ3e6IoTPUSQcgj4EQ5IlUiLE0Jil3PECXhcHGBhZ8kg4hwxAu3MZeCGeyFnAXp4hqNQPnt7QL0nADpD6wHccLvnAKksq8iiaAAAAAElFTkSuQmCC');
	padding-left:5px;
}
.form-control.ng-invalid {
	border-color: #FA787E;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(250, 120, 126, 0.6);
}
a:focus,
button:focus {
	outline: none;
}

#preloader{
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
}



.navbar{
	border:none;
	background-color:#eee;
	border-bottom: 1px solid #e0e0e0;
	
	div.container{
		position:relative;
		background:#fafafa;
		
		.navbar-header{
			a{
				margin-left:0px;
				padding:17px;
				font-size:24px;
				&:hover{
					text-decoration:none;
				}
			}
		}
		
		
		.dropdown-toggle{
			line-height:20px;
			margin-top:-2px;
			margin-left:0px;
			padding:14px 15px;
			
		}
		
		div.dropdown,
		div.navbar-header,
		div.menu-section{
			text-align:center;
			float:left;
			height:52px;
			line-height:52px;
			margin-right:5px;
			text-decoration:none;
/*
			&:hover,
			&:active{
				background-color:#fff;
			}
*/
		}
		
		#nav-right-container{
			position:absolute;
			right:14px;
			.sitelink{
				margin:0 10px;
			}
			.sitelink:hover{
				background:transparent;
			}
			.logout{
				margin-right:0px;
				a{
					
					padding:17px;
					font-size:22px;
					&:hover{
						text-decoration:none;
					}
				}
			}
		}

	}
}


/*
.navbar .dropdown-toggle:active{
	outline: none;
}

*/




.dateContainer{
	width:200px;display:inline-block;vertical-align:middle;
}


/* pager */
.ls-pager{
	line-height:10px;
	font-size:14px;
	input{
		margin:-3px 1px;
		width:35px;
		text-align:center;
	}
	span[ng-click]{
		text-decoration:none;
	}
}

/*sidebar*/
.nav-sidebar li.active{
	background-color:#eee;
}
.nav-sidebar li span.icon-chevron-right{
	display:none;
	font-size:10px;
	margin-top:4px;
	
}
.nav-sidebar li.active span.icon-chevron-right{
	float:right;
	display:block;
}


/*orders*/
table td.moneys span{
	float:right;
}






/* общие классы */
*[ng-click] {
	cursor:pointer;
}
tr[ng-click]:hover{
	//background-color:#D9EDF7!important;
}
.like_a {
	color:#3A7EC6;
}
.like_a:hover {
	color:#23527C;
	text-decoration:underline;
}
.like_a.disabled{
	color:#aaa;
}


.ng-dirty .ng-valid{
	border-color:#78FA89;
}


.ng-invalid{
	border-color:#fa787e;
}


.close-cross{
	color: #777;
	font-size: 22px;
	font-weight: bold;
	position:absolute;
	top:-10px;
	right:2px;
}
span.icon{
	vertical-align:middle;
}

/*  меню  */
.panel-title span.icon{
	position:absolute;
	right:30px;
}



.textareaEdit-thumbnail-container{
	margin-left:-5px;
	margin-right:-5px;
	margin-bottom:5px;
}
.textareaEdit-thumbnail-container:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.textareaEdit-thumbnail-container .thumbnail{
	width:80px;
	height:80px;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
}


.my-drop-zone{
	border:2px orange dashed;
	background:#fafafa;
}


label span{
	font-weight:normal;
	vertical-align:middle;
}


.table-filter{
	width:100%;
	background:#fafafa;
	border:1px solid #eee;
	padding: 1px 3px;
}
.table-filter.active{
	background:#fff;
	border:1px solid #dadada;
}


ul.menu li{
	padding:0px;
}

ul.menu li a{
	display:block;
	padding:10px 15px;
}
ul.menu li.active a{
	color:#fff;
}
ul.menu li a:hover{
	text-decoration:none;
}



.panel{
	box-shadow:none;
	border-radius:0px;
}
.panel-default{
	border-color:#f3f3f3;
	border-radius:0px;

	.panel-heading{
		background:#fafafa;
		border-color:#f3f3f3;
		padding:10px!important;
	}
	.panel-footer{
		background:#fff;
		border-color:#f3f3f3;
		padding:10px!important;
	}
	td{
		border-color:#f5f5f5!important;
	}
	.table-hover >tbody > tr:hover{
		background:#fafafa;
	}
}




.thumbnails-list{
	a.thumbnail{
		padding:10px 20px;
		color:#333;
		background-color:#fcfcfc;
		&:hover{
			text-decoration:none!important;
		}
		p{
			color:#337AB7;
			text-decoration:none!important;
			height:40px;
			overflow:hidden;
		}
	}
}
