body{
	
}

#type-actions{
	
	.btn{
		margin:0 10px 10px 0;
		outline: none;
	}
}
#modeTrigger{
	outline: none;
	&:focus{
		background:#fff;
	}
	&.active{
		background:#eee;
	}
}
#onlyNotConnectedResourses{
	font-weight:normal;
	input{
		vertical-align:middle;
		margin: 0;
		margin-bottom: 3px;
	}
}


#panelsContainer.show{
	opacity: 1;
	transition: .1s ease-in all;
}

#panelsContainer{
	overflow:hidden;
	opacity: 0;
}


#tree{
	position:relative;
	overflow-y:auto;
	height:100%;
	
	span.node-trigger{
		display:none;
	}
	span.page{
		font-size:14px;
		color:#333;
		vertical-align: middle;
		margin-right:10px;
		display:inline-block;
	}
	span.page.active{
		text-decoration:underline;
		color:#000;
		font-weight:bold;
	}
	span.node-trigger{
		display:block;
		position:absolute;
		top:2px;
		left:-20px;
		font-size: 14px;
		color: #aaa;
	}
	span.node-trigger.icon-squareapp{
		color: #ccc;
	}
	
	ul{
		padding-left:20px;
	}
	li
	{
		list-style-type:none;
		line-height:16px;
		font-size:24px;
		margin:15px 0;
		position:relative;
		padding-left:0px;
		
		
		&.nochilds span.node-trigger{
			display:none;
		}
		
		ul{
			display:none;
		}
		&.open>ul{
			display:block;
		}
		
	}
	
}


#list{
	position:relative;
	overflow:hidden;
	height:100%;
	padding:0px 15px 0 0;
	
	&>div{
		position:relative;
		height:100%;
		#listHeader{
			a{
				font-size: 14px;
				&:after {
					content: '';
					display: inline-block;
					height: 10px;
					width: 10px;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFBAMAAABlfdtYAAAAD1BMVEUAAABUWl5UWl5UWl5UWl68UXJgAAAABHRSTlMA3btmlSJz5wAAABlJREFUCNdjYGBgEmAAAUMGBhcgEICwIeIAGL4Bp9jpgSUAAAAASUVORK5CYII=') center center no-repeat;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		#tableContainer{
			position:relative;
			overflow-y:auto;
			height:300px;
			
			thead div{
				padding:0px;
				margin:0px;
			}
			thead div.col-xs-4{
				padding-left:10px;
			}
			tbody{
				img{
					width:60px;
					height:60px;
				}
				td:first-child{
					width:70px;
				}
				td:last-child{
					width:20px;
				}
				span.active{
					font-weight:bold;
				}
				td.actions{
					white-space: nowrap;
					i{
						margin-right:7px;
					}
				}
			}
		}
		#listFooter{
			position:absolute;
			bottom:0px;
			width:100%;
			padding:0px;
			border-bottom:0px;
		}
	}
}





#data{
	.btn-default{
		color:#3A7EC6;
		outline: none!important;
	}
	.panel-title .row{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.btn-default
	{
		line-height:1;
		border-color:#eee;
		background-color:#fafafa;
			vertical-align: middle;
		&:hover{
			background-color:#fff;
		}
		&.active{
			border-color:#eee;
			background-color:#eaeaea;
			color:#333;
			box-shadow:none;
			&:hover{
				background-color:#eee;
			}
		}
		&.back{
			padding:6px 9px;
			margin-left:0px;
			margin-right:10px;
			font-weight:bold;
		}
	}
	
	td.active{
		background:#fafafa!important;
		&:hover span{
			text-decoration:underline;
		}
	}
}
