
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child{
	border-radius:0px;
}


/* page */
#modal-linked_items td img{
	width:50px;
}
#modal-linked_items .input-group,
#modal-linked_categories .input-group{
	width:100%;
}
#modal-linked_items .input-group span,
#modal-linked_categories .input-group span{
	width:50px;
}
.linked_items img{
	width:100%;
}
#modal-linked_categories table{
	width:100%;
}




/* edit-images */

#sortableImages .thumbnail{
	position:relative;
	overflow:hidden;
	font-size:11px;
}
#sortableImages .thumbnail .page-image-actions>p{
	margin:0;
	padding-bottom:0px;
}
#sortableImages .thumbnail.active{
	background-color:#fafafa;
	border-color:orange;
}
#sortableImages .thumbnail img{
	height:80px;
}
#sortableImages .thumbnail .icon-edit{
	position:absolute;
	top:5px;
	right:5px;
	font-size:1.2em;
	background:#fff;
	padding:2px;
	display:block;
	box-shadow:0 0 3px #aaa;
	line-height:18px;
	width:20px;
	height:20px;
	text-align:center;
	
}
#sortableImages .thumbnail .file-name,
#sortableImages .thumbnail .file-alt{
	height:18px;
	line-height:10px;
	margin:0;
	margin-bottom:10px;
	text-align:center;
}
#sortableImages .thumbnail .page-image-del:hover{
	color: red;
}


#sortableImages1{
	.thumbnail{
		position:relative;
		overflow:hidden;
		&.active{
			border-color:orange;
		}
		.icon-edit{
			position:absolute;
			top:5px;
			right:5px;
			background:#fff;
			border-radius:3px;
			display:block;
			width:18px;
			height:18px;
			text-align:center;
			z-index:200;
		}
	}
}
