
	<div class="modal fade" id='modal-addpage'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id='modal-title'>{{modalAddPageCtrl.modalHeader}}</h4>
				</div>
				<div class="modal-body">
					
					
					<div class="form-group row">
						<label for="modal-input-header" class="col-sm-2 control-label">Заголовок</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="modal-input-header" ng-model='modalAddPageCtrl.header' placeholder="header" ng-change='modalAddPageCtrl.onChangeHeader()'>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="modal-input-alias" class="col-sm-2 control-label">alias</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="modal-input-alias" ng-model='modalAddPageCtrl.alias' placeholder="alias">
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-warning btn-sm" ng-click='modalAddPageCtrl.addPage()' id='modal-submitbutton'>Добавить</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
