	<!-- linked_categories -->
	<div class="modal fade" id='modal-linked_categories'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Привязанные категории</h4>
				</div>
				<div class="modal-body">
					<table class="table table-condensed">
						<tr ng-repeat='cat in PageCtrl.linked_categories.current'>
							<td>{{cat.id}}</td>
							<td>{{cat.header}}</td>
							<td class='text-right'><span ng-click='PageCtrl.linked_categories.drop($index)' class='icon-calcminus text-warning'></span></td>
						</tr>
					</table>
					
					<div class="input-group">
						<span class="input-group-addon icon-search" id="modal-input-category"></span>
						<input type="text" class="form-control" aria-describedby="modal-input-category" ng-model='PageCtrl.linked_categories.searchInput' placeholder="наименование" ng-change='PageCtrl.linked_categories.search()' ng-model-options="{debounce:600}">
					</div>
					
					<h4 ng-show='PageCtrl.linked_categories.searchResult.length'>Найденые категории</h4>
					<div>
						<table class="table table-condensed">
							<tr ng-repeat='cat in PageCtrl.linked_categories.searchResult'>
								<td>{{cat.id}}</td>
								<td>{{cat.header}}</td>
								<td class='text-right'><span ng-click='PageCtrl.linked_categories.add($index)' class='icon-calcplus text-success'></span></td>
							</tr>
						</table>
					</div>
					
					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
