
<span class="ls-pager">



		<span class='like_a glyphicon glyphicon-chevron-left' ng-click='pagerCtrl.prevPage()'></span>

		<input type="text" id="inputpage" ng-model='pagerCtrl.currentPage' ng-change='pagerCtrl.onChangePage()' ng-model-options="{debounce:300}"> / {{pagerCtrl.pagesAmount}}

		<span class='like_a glyphicon glyphicon-chevron-right' ng-click='pagerCtrl.nextPage()'></span>



</span>
