	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			
			<div class="navbar-header">
				<span class="navbar-brand">
					<a href='{{topMenuCtrl.systemInfo.uri}}'>{{topMenuCtrl.systemInfo.sitename}}</a>
				</span>
				
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Разделы <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat='section in topMenuCtrl.availableSections' ng-click='topMenuCtrl.setActiveSection("{{section.alias}}")'>
								<a href="#/{{section.alias}}">{{section.header}}</a>
							</li>
						</ul>
					</li>
				</ul>
				<p class="navbar-text"><b class='text-warning'>{{topMenuCtrl.activeSection}}</b></p>
				
			</div>
			
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/?logout=1">Exit</a></li>
			</ul>
			
		</div>
	</nav>
