		<div class='row'>
			<div class='col-sm-8'>
				<h4>
					<a href="#/types">Ресурсы сайта</a> &rarr; 
					<a href="#/types/{{TypeCtrl.type}}">{{TypeCtrl.typeName}}</a> &rarr; 
					<span>{{TypeCtrl.resource.header}}</span> <small><a href="/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}" target="_blank">/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}</a></small>
				</h4>
			</div>
			
			<div class='col-sm-4 text-right'>
				<button class='btn btn-warning' ng-click='TypeCtrl.delResource()' ng-show='TypeCtrl.menu=="resource" && TypeCtrl.pageMaybeDel'>Удалить</button>
				<button class='btn btn-warning' ng-click='TypeCtrl.delPage()' ng-show='TypeCtrl.menu=="page"'>Удалить</button>
				<button class='btn btn-default' ng-click='TypeCtrl.saveResource()' ng-show='TypeCtrl.menu=="resource" || TypeCtrl.menu=="comments"'>Сохранить</button>
				<button class='btn btn-default' ng-click='TypeCtrl.savePage()' ng-show='TypeCtrl.menu=="page"'>Сохранить</button>
			</div>
			
		</div>
