			<div class="panel panel-primary">
				<ul class="list-group menu">
					<li class="list-group-item" ng-class="{active:TypeCtrl.menu=='resource'}">
						<a href="#/type/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}/resource">{{TypeCtrl.typeName}}</a>
					</li>
					<li class="list-group-item" ng-class="{active:TypeCtrl.id==page.id}" ng-repeat='page in TypeCtrl.pages'>
						<a href="#/type/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}/page/{{page.id}}"><span class='icon-link'></span> {{page.fullpath}}</a>
					</li>
					<li class="list-group-item" ng-class="{active:TypeCtrl.menu=='images'}">
						<a href="#/type/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}/images">Изображения</a>
					</li>
					<li class="list-group-item" ng-class="{active:TypeCtrl.menu=='comments'}" ng-show="TypeCtrl.checkModuleAccess('comments')">
						<a href="#/type/{{TypeCtrl.type}}/{{TypeCtrl.idtype}}/comments">Комментарии</a>
					</li>
					
				</ul>
			</div>
			
			
			<div class="panel panel-default">
				<ul class="list-group">
					<li class="list-group-item"><small>Создан:</small> {{TypeCtrl.resource.dt}}</li>
					<li class="list-group-item"><small>Изменен:</small> {{TypeCtrl.resource.dt_edit}}</li>
				</ul>
			</div>
			
