

	<div class="page-header">
		<h4>
			{{AdminCtrl.header}}
		</h4>
	</div>


	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-primary" ng-repeat='menu in AdminCtrl.menus' ng-class='{active:AdminCtrl.menu==menu.name}' href='#/admin/{{menu.name}}'>
					<span>{{menu.header}}</span>
				</a>
			</div>
			
		</div>
		
	</div>
	
	<br>
	
	<div class="row main">
		
		
		<div class="col-sm-12" ng-show='AdminCtrl.menu=="operations"'>
			
			<h3>Копирование страниц</h3>
			<form>
				<div class='row'>
					<div class="form-group col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">from</span>
							<input type="text" class="form-control" placeholder="/path/page or /path/page/ or /path/page/*" ng-model='AdminCtrl.copy_from'>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">to</span>
							<input type="text" class="form-control" placeholder="/path/page" ng-model='AdminCtrl.copy_to'>
						</div>
					</div>
				</div>
				<div class='text-right'>
					<button type="submit" class="btn btn-default" ng-click='AdminCtrl.copy()'>Copy</button>
				</div>
			</form>
			
			<h3>Удаление страниц</h3>
			<form>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">path</span>
						<input type="text" class="form-control" placeholder="/path/page or /path/page/ or /path/page/*" ng-model='AdminCtrl.delete_path'>
					</div>
				</div>
				<div class='text-right'>
					<button type="submit" class="btn btn-default" ng-click='AdminCtrl.deletePages()'>Remove</button>
				</div>
			</form>
			
			
			<h3>Прочие операции</h3>
			<button class="btn btn-default" ng-repeat='action in AdminCtrl.operations' ng-click='AdminCtrl.motor(action.name)'>
				{{action.header}}
			</button>
			
		</div>
		
		
		
		<div class="col-sm-12" ng-show='AdminCtrl.menu=="php.ini"'>
			<input ng-model='AdminCtrl.iniFilter' placeholder='filter'>
			<table class="table table-condensed">
				<thead>
					<tr>
						<td>name</td>
						<td>global_value</td>
						<td>local_value</td>
						<td>access</td>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat='params in AdminCtrl.ini | filter:AdminCtrl.iniFilter' >
					<td>{{params.key}}</td>
					<td>{{params.global_value}}</td>
					<td>{{params.local_value}}</td>
					<td>{{params.access}}</td>
				</tr>
				</tbody>
			</table>
		</div>
		

		
		<div class="col-sm-12" ng-show='AdminCtrl.menu=="errors"'>
			
			<p ng-repeat='error in AdminCtrl.errors'>
				{{error}}
			</p>
			
		</div>
		
		
		<p ng-repeat='row in AdminCtrl.results'>
			{{row}}
		</p>
		
	</div>

