

	<div class="page-header">
		<div class='row'>
			<div class='col-sm-4'>
				<h4>
					{{BillingHistoryCtrl.header}}
				</h4>
			</div>
			
			<div class='col-sm-8 text-right'>
			
				<form class="form-inline" ng-show="BillingHistoryCtrl.addOperationStatus" name='addOperationForm' ng-submit="addOperationForm.$valid && BillingHistoryCtrl.addOperation()" novalidate>
					<div class="form-group">
						<input type="email" class="form-control" ng-model="BillingHistoryCtrl.newOperation.email" placeholder="email" required>
					</div>
					<div class="form-group">
						<input type="number" class="form-control" ng-model="BillingHistoryCtrl.newOperation.summ"  width='10%' placeholder="summ" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="BillingHistoryCtrl.newOperation.descr" placeholder="descr" required>
					</div>
				
					<button type="submit" class="btn btn-warning" ng-disabled="addOperationForm.$invalid">Ок</button>
					<button type="cancel" class="btn btn-default" ng-click="BillingHistoryCtrl.addOperationHide()">Отмена</button>
				</form>
			
				<button class="btn btn-default" ng-hide="BillingHistoryCtrl.addOperationStatus" ng-click="BillingHistoryCtrl.addOperationShow()">Добавить операцию</button>
			</div>
		</div>
	</div>


	<div class="row">

		
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список транзакций
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name='id'/>
							</td>
							<td>
								<filter name='dt'/>
							</td>
							<td>
								<filter name='account_mail'/>
							</td>
							<td>
								<filter name='operator_mail'/>
							</td>
							<td>
								<filter name='summ'/>
							</td>
							<td>
								<filter name='descr'/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in BillingHistoryCtrl.rows'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td>
								<span>{{row.account_mail}}</span>
							</td>
							<td>
								<span class='text-muted'>{{row.operator_mail}}</span>
							</td>
							<td class='text-right'>
								<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ | number:2}}</span>
							</td>
							<td>
								{{row.descr}}
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{BillingHistoryCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>





