
	<div class="page-header">
		<h4>{{BillingBalanceCtrl.header}}</h4>
	</div>

	<div class="row">
		<div class="col-lg-5 col-sm-9">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список счетов
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name='mail'/>
							</td>
							<td>
								<filter name='summ'/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in BillingBalanceCtrl.rows' ng-click='BillingBalanceCtrl.getOperations(row.account, row.account_mail)'>
							<td>
								<a href='#/user/{{row.account}}' ng-click='$event.stopPropagation();'>{{row.account_mail}}</a>
							</td>
							<td class='text-right'>
								<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ | number:2}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{BillingBalanceCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="modal fade" id='modal-operations'>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Операции по аккаунту {{BillingBalanceCtrl.currentAccountOperations}}</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover table-condensed">
						<tbody>
							<tr ng-repeat='row in BillingBalanceCtrl.operations'>
								<td>{{row.id}}</td>
								<td>{{row.dt}}</td>
								<td class='text-right'>
									<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ | number:2}}</span>
								</td>
								<td>
									{{row.descr}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



