


	<div class="page-header">
		<h4>Комментарии</h4>
	</div>


	
	<div class="row">
		
	
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Комментарии
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name='dt'/>
							</td>
							<td>
								<filter name='type'/>
							</td>
							<td>
								<filter name='idtype'/>
							</td>
							<td>
								<filter name='name'/>
							</td>
							<td>
								<filter name='contact'/>
							</td>
							<td>
								<filter name='message'/>
							</td>
							<td>
								<filter name='answer'/>
							</td>
							<td>
								<filter name='status'/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in CommentsCtrl.rows' ng-class='{warning:row.status=="check"}' ng-click='CommentsCtrl.rowClick(row.id)'>
							<td>{{row.dt}}</td>
							<td>{{row.type}}</td>
							<td>{{row.idtype}}</td>
							<td>{{row.name}}</td>
							<td>{{row.contact}}</td>
							<td>{{row.message | limitTo : 80}}</td>
							<td>{{row.answer | limitTo : 80}}</td>
							<td>{{row.status}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{CommentsCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

