
	
	<div class="page-header">
		<div class='row'>
			<div class='col-sm-8'>
				<h4>
					<h4><a href='#/comments'>Комментарии</a> / #{{CommentCtrl.id}}</h4>
				</h4>
			</div>
			
			<div class='col-sm-4 text-right'>
				<button class='btn btn-warning' ng-click='CommentCtrl.delComment()'>Удалить</button>
				<button class='btn btn-default' ng-click='CommentCtrl.saveComment()'>Сохранить</button>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		
		<div class="col-sm-2">
			<a href='#/type/{{CommentCtrl.data.type}}/{{CommentCtrl.data.idtype}}/comments'>resource</a>
		</div>
		
		<div class="col-sm-10">
			
			<form class="form-horizontal" novalidate>
				<div class="form-group">
					<label for="inputName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model='CommentCtrl.data.name'>
					</div>
				</div>
				<div class="form-group">
					<label for="inputContact" class="col-sm-2 control-label">Contact</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputContact" placeholder="Contact" ng-model='CommentCtrl.data.contact'>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMessage" class="col-sm-2 control-label">Message</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="inputMessage" placeholder="Message" ng-model='CommentCtrl.data.message'></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="inputAnswer" class="col-sm-2 control-label">Answer</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="inputAnswer" placeholder="Answer" ng-model='CommentCtrl.data.answer'></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="btn-group">
							<label class="btn btn-default" ng-class="{active:CommentCtrl.data.status=='hidden'}">
								<input type="radio" class="btn btn-default" ng-model='CommentCtrl.data.status' value="hidden">hidden
							</label>
							<label class="btn btn-default" ng-class="{active:CommentCtrl.data.status=='check'}">
								<input type="radio" class="btn btn-default" ng-model='CommentCtrl.data.status' value="check">check
							</label>
							<label class="btn btn-default" ng-class="{active:CommentCtrl.data.status=='public'}">
								<input type="radio" class="btn btn-default" ng-model='CommentCtrl.data.status' value="public">public
							</label>
						</div>
					</div>
				</div>
			</form>
			
		</div>
		
		
	</div>

