
	<main id='default'>
		
		
		<div id='small-boxes' class="row">
			
			<div class="col-md-4 col-xs-6" ng-repeat='widget in DefaultCtrl.widgets | orderObjectBy'>
				<!-- small box -->
				<a class="small-box" ng-class='widget.bgColor' href='{{widget.href}}'>
					<div class="data">
						<p>{{widget.title}}</p>
						<h3>{{widget.data}}</h3>
					</div>
					<div class="icon">
						<i ng-class="widget.icon"></i>
					</div>
				</a>
			</div>
			
			<div class="col-md-4 col-xs-6">
				<div class="small-box bg-DarkSeaGreen">
					<div class="data">
						<p>Сервер</p>
					<div class="row"  id="server-charts">
						<div class='server-chart col-xs-3'>
							<div id='cpu-chart' class='ct-square'></div>
							<small>CPU</small>
						</div>
						<div class='server-chart col-xs-3'>
							<div id='memory-chart' class='ct-square'></div>
							<small>Memory</small>
						</div>
						<div class='server-chart col-xs-3'>
							<div id='disk-chart' class='ct-square'></div>
							<small>Disk</small>
						</div>
					</div>
					</div>
					<div class="icon">
						<i class="icon-server" ng-class="widget.icon"></i>
					</div>
				</div>
			</div>
			
		</div>
		
		<hr>
		
		<div class='row'>
			<div class='col-sm-6'>
				
				<div class="panel panel-default">
					<div class="panel-heading">Заказы</div>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<td style='width:10%'>Дата</td>
								<td style='width:30%'>Город</td>
								<td style='width:25%'>Сумма</td>
								<td style='width:25%'>Статус</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = 'order in DefaultCtrl.data.orders'
								ng-class = '{warning:order.status=="новый"}'
								ng-click = 'DefaultCtrl.rowClick("order",order.id)'>
								<td style='width:10%'>{{order.dt}}</td>
								<td style='width:30%'>{{order.city}}</td>
								<td style='width:25%'>{{order.summ}}</td>
								<td style='width:25%'>{{order.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">Комментарии</div>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<td style='width:10%'>Дата</td>
								<td style='width:65%'>Сообщение</td>
								<td style='width:25%'>Статус</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = 'comment in DefaultCtrl.data.comments'
								ng-click = 'DefaultCtrl.rowClick("comment",comment.id)'>
								<td style='width:10%'>{{comment.dt}}</td>
								<td style='width:65%'>{{comment.message | limitTo : 100}}</td>
								<td style='width:25%'>{{comment.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
			<div class='col-sm-6'>
				
				<div class="panel panel-default">
					<div class="panel-heading">Обращения</div>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<td style='width:10%'>Дата</td>
								<td style='width:65%'>Сообщение</td>
								<td style='width:25%'>Результат</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = 'request in DefaultCtrl.data.requests'
								ng-class = '{warning:request.answer=="не обработано"}'
								ng-click = 'DefaultCtrl.rowClick("request",request.id)'>
								<td style='width:10%'>{{request.dt}}</td>
								<td style='width:65%'>{{request.message | limitTo : 100}}</td>
								<td style='width:25%'>{{request.answer | limitTo : 100}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</main>



