

	<div class="page-header">
		
		<h4>{{DeliveryCtrl.header}}</h4>
		
	</div>



	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-primary" ng-repeat='menu in DeliveryCtrl.menus' ng-class='{active:DeliveryCtrl.type==menu.name}' href='#/delivery/{{menu.name}}'>
					<span>{{menu.header}}</span>
				</a>
			</div>
			
		</div>
		
	</div>
	
	<br>
	
	<div class="row">
		
		<div class="col-sm-12 main">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Пункты самовывоза
								<button class='btn btn-xs btn-default' ng-click='DeliveryCtrl.showDeliveryWindow()'>Добавить</button>
								<button class='btn btn-xs btn-warning' ng-click='DeliveryCtrl.updatePickupPoints()'>Обновить</button>
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='partner'/></td>
							<td><filter name='city'/></td>
							<td><filter name='region'/></td>
							<td><filter name='metro'/></td>
							<td><filter name='name'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in DeliveryCtrl.rows' ng-click='DeliveryCtrl.showDeliveryWindow($index)'>
							<td>{{row.id}}</td>
							<td>{{row.partner}}</td>
							<td>{{row.city}}</td>
							<td>{{row.region}}</td>
							<td>{{row.metro}}</td>
							<td>{{row.name}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{DeliveryCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	



	
	<div class="modal fade" id='modal-delivery-courier'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Курьерская доставка [<span ng-show='DeliveryCtrl.delivery.id == undefined' class='text-success'>добавление</span><span ng-hide='DeliveryCtrl.delivery.id == undefined' class='text-warning'>редактирование</span>]</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						<label for="modal-input-city">Город</label>
						<input type="text" class="form-control" id="modal-input-city" placeholder="Город" ng-model="DeliveryCtrl.delivery.city">
					</div>
					<div class="form-group">
						<label for="modal-input-name">Наименование</label>
						<input type="text" class="form-control" id="modal-input-name" placeholder="Наименование" ng-model="DeliveryCtrl.delivery.name">
					</div>
					<div class="form-group">
						<label for="modal-input-description">Описание</label>
						<input type="text" class="form-control" id="modal-input-description" placeholder="Описание" ng-model="DeliveryCtrl.delivery.description">
					</div>
					<div class="form-group">
						<label for="modal-input-large">Для крупногабаритного товара
							<input type="checkbox" class="form-control-inline" id="modal-input-large" ng-model="DeliveryCtrl.delivery.large" ng-true-value='"1"' ng-false-value='"0"'>
						</label>
					</div>
					
					<h4>Цены <button type="button" class='btn btn-default btn-xs' ng-click='DeliveryCtrl.addDeliveryPrice()'>Добавить</button></h4>
					<div class="form-group row" ng-repeat='price in DeliveryCtrl.delivery.prices'>
						<div class='col-sm-6'>
							<label for="modal-input-border">При заказе от</label>
							<input type="text" class="form-control input-sm" id="modal-input-border" placeholder="Сумма заказа" ng-model="price.border">
						</div>
						<div class='col-sm-5'>
							<label for="modal-input-price">Стоимость доставки</label>
							<input type="text" class="form-control input-sm" id="modal-input-price" placeholder="Сумма" ng-model="price.price">
						</div>
						<div class="col-sm-1">
							<button type="button" class="close" aria-label="Close" ng-click='DeliveryCtrl.delDeliveryPrice($index)'>
								<span aria-hidden="true">×</span>
							</button>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-sm" ng-click='DeliveryCtrl.delDelivery()' ng-hide='DeliveryCtrl.delivery.id == undefined'>Удалить</button>
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-success btn-sm" ng-click='DeliveryCtrl.saveDelivery()'>Записать</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal fade" id='modal-delivery-pickup'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Курьерская доставка [<span ng-show='DeliveryCtrl.delivery.id == undefined' class='text-success'>добавление</span><span ng-hide='DeliveryCtrl.delivery.id == undefined' class='text-warning'>редактирование</span>]</h4>
				</div>
				
				<div class="modal-body">
					
					<div class="form-group">
						<label for="modal-input-name">Наименование</label>
						<input type="text" class="form-control" id="modal-input-name" placeholder="Наименование" ng-model="DeliveryCtrl.delivery.name">
					</div>
					
					<div class="form-group">
						<label for="modal-input-city">Город</label>
						<input type="text" class="form-control" id="modal-input-city" placeholder="Город" ng-model="DeliveryCtrl.delivery.city">
					</div>
					
					<div class="form-group row">
						<div class='col-sm-6'>
							<label for="modal-input-region">Регион</label>
							<input type="text" class="form-control" id="modal-input-region" placeholder="region" ng-model="DeliveryCtrl.delivery.region">
						</div>
						<div class='col-sm-6'>
							<label for="modal-input-district">Район</label>
							<input type="text" class="form-control" id="modal-input-district" placeholder="district" ng-model="DeliveryCtrl.delivery.district">
						</div>
					</div>
					
					<div class="form-group row">
						<div class='col-sm-8'>
							<label for="modal-input-address">Адрес</label>
							<textarea type="text" class="form-control" id="modal-input-address" placeholder="address" ng-model="DeliveryCtrl.delivery.address"></textarea>
						</div>
						<div class='col-sm-4'>
							<label for="modal-input-worktime">Время работы</label>
							<textarea type="text" class="form-control" id="modal-input-worktime" placeholder="worktime" ng-model="DeliveryCtrl.delivery.worktime"></textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<div class='col-sm-6'>
							<label for="modal-input-metro">ст. метро</label>
							<input type="text" class="form-control" id="modal-input-metro" placeholder="metro" ng-model="DeliveryCtrl.delivery.metro">
						</div>
						<div class='col-sm-6'>
							<label for="modal-input-station">ж/д станция</label>
							<input type="text" class="form-control" id="modal-input-station" placeholder="station" ng-model="DeliveryCtrl.delivery.station">
						</div>
					</div>
					
					<div class="form-group row">
						<div class='col-sm-6'>
							<label for="modal-input-latitude">Широта</label>
							<input type="text" class="form-control" id="modal-input-latitude" placeholder="latitude" ng-model="DeliveryCtrl.delivery.latitude">
						</div>
						<div class='col-sm-6'>
							<label for="modal-input-longitude">Долгота</label>
							<input type="text" class="form-control" id="modal-input-longitude" placeholder="longitude" ng-model="DeliveryCtrl.delivery.longitude">
						</div>
					</div>
					
					<div class="form-group row">
						<div class='col-sm-4'>
							<label for="modal-input-max_value">max_value</label>
							<input type="text" class="form-control" id="modal-input-max_value" placeholder="max_value" ng-model="DeliveryCtrl.delivery.max_value">
						</div>
						<div class='col-sm-4'>
							<label for="modal-input-max_size">max_size</label>
							<input type="text" class="form-control" id="modal-input-max_size" placeholder="max_size" ng-model="DeliveryCtrl.delivery.max_size">
						</div>
						<div class='col-sm-4'>
							<label for="modal-input-max_weight">max_weight</label>
							<input type="text" class="form-control" id="modal-input-max_weight" placeholder="max_weight" ng-model="DeliveryCtrl.delivery.max_weight">
						</div>
					</div>
					
					<hr>
					
					<h4>Цены <button type="button" class='btn btn-default btn-xs' ng-click='DeliveryCtrl.addDeliveryPrice()'>Добавить</button></h4>
					<div class="form-group row" ng-repeat='price in DeliveryCtrl.delivery.prices'>
						<div class='col-sm-6'>
							<label for="modal-input-border">При заказе от</label>
							<input type="text" class="form-control" id="modal-input-border" placeholder="Сумма заказа" ng-model="price.border">
						</div>
						<div class='col-sm-5'>
							<label for="modal-input-price">Стоимость доставки</label>
							<input type="text" class="form-control" id="modal-input-price" placeholder="Сумма" ng-model="price.price">
						</div>
						<div class="col-sm-1">
							<button type="button" class="close" aria-label="Close" ng-click='DeliveryCtrl.delDeliveryPrice($index)'>
								<span aria-hidden="true">×</span>
							</button>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-sm" ng-click='DeliveryCtrl.delDelivery()' ng-hide='DeliveryCtrl.delivery.id == undefined'>Удалить</button>
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-success btn-sm" ng-click='DeliveryCtrl.saveDelivery()'>Записать</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

