

	<div class="page-header">
		
		<div class='row'>
			<div class='col-sm-6'>
				<h4>
					<a href='#/imagesstorage'>Изображения, баннеры</a>
					<span ng-show='IStorageCtrl.type'>&rarr; {{IStorageCtrl.type}} </span>
				</h4>
			</div>
			
			<div class='col-sm-6 text-right'>
				
				<button type="button" class="btn btn-default" ng-click='IStorageCtrl.addTypeShowForm()' ng-hide='IStorageCtrl.type'>
					Добавить группу
				</button>
				<button type="button" class="btn btn-default" ng-click='IStorageCtrl.addTypeShowForm()' ng-show='IStorageCtrl.type'>
					Редактировать группу
				</button>
				
			</div>
		</div>
		
		
	</div>

		<div ng-hide='IStorageCtrl.type'>
			
			
			<div class="row thumbnails-list" ng-hide='TypesCtrl.type' id='typesButtons'>
				<div ng-repeat='type in IStorageCtrl.types | orderObjectBy:"name"' class="col-xs-6 col-md-3">
					<a class='thumbnail' href="#/imagesstorage/{{type.name}}">
						<h4>{{type.name}}</h4>
						<p>{{type.header}} <small>({{type.width}}x{{type.height}})</small></p>
					</a>
				</div>
			</div>
			
			
		</div>
		
	
	
	
		<!-- Pictures -->
		<div ng-show='IStorageCtrl.type'>
			
			
			<div class="clearfix" nv-file-drop="" uploader="IStorageCtrl.uploader">
				
				<div ng-show="IStorageCtrl.uploader.isHTML5">
					<div class="well my-drop-zone col-sm-12 text-center" nv-file-over="" uploader="IStorageCtrl.uploader" onclick='$("#uploaderInput").click()'>
						<span class='like_a'><span class="icon-picture text-"> Загрузка изображений</span></span>
						<br><small>(максимальный размер = {{IStorageCtrl.upload_max_filesize}})</small>
					</div>
				</div>
				
				<div ng-show="!IStorageCtrl.uploader.isHTML5">
					<div class="col-sm-12">
						Выберите файлы:<br/><small>(максимальный размер = {{IStorageCtrl.upload_max_filesize}})</small>
						<input type="file" nv-file-select="" uploader="IStorageCtrl.uploader" multiple id='uploaderInput' />
					</div>
				</div>
				
			</div>
			
			<div class="row" ng-show='IStorageCtrl.uploader.queue.length > 0'>
				<div class="col-sm-12">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': IStorageCtrl.uploader.progress + '%' }"></div>
					</div>
				</div>
			</div>
			
			<div id='IStorageList'>
				
				<div ng-repeat='image in IStorageCtrl.images | orderBy:"-weight"'>
					<span class="thumbnail" ng-class='{"active":image.weight>0}' ng-click='IStorageCtrl.imageEditShowForm(image)'>
						<img src="{{image.path}}" title="{{image.alt}}">
						<span class="badge" ng-show='image.weight>0'>{{image.weight}}</span>
					</span>
				</div>
				
			</div>
			
			
		</div>

		<div class="modal fade" id='modal-imageTypeAdd'>
			<div class="modal-dialog">
				<div class="modal-content">
					<form name="imageTypeAddForm" novalidate ng-submit="IStorageCtrl.addType()">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" ng-hide='IStorageCtrl.type'>Добавить группу</h4>
							<h4 class="modal-title" ng-show='IStorageCtrl.type'>Редактировать группу</h4>
						</div>
						
						<div class="modal-body">
							
							<div class="form-group">
								<label>Заголовок:</label>
								<input class="form-control" ng-model="IStorageCtrl.typeParams.header" type="text" placeholder='Заголовок' />
							</div>
							<div class="form-group" ng-hide='IStorageCtrl.type'>
								<label>Название:</label>
								<input class="form-control" ng-model="IStorageCtrl.typeParams.name" type="text" placeholder='Название (англ.)' />
							</div>
							<div class='row'>
								<div class="form-group col-sm-6">
									<label>Ширина:</label>
									<input class="form-control" ng-model="IStorageCtrl.typeParams.width" string-to-number type="number" />
								</div>
								<div class="form-group col-sm-6">
									<label>Высота:</label>
									<input class="form-control" ng-model="IStorageCtrl.typeParams.height" string-to-number type="number" />
								</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
							<button type="submit" class="btn btn-success btn-sm">Submit</button>
						</div>
						
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->



		<div class="modal fade" id='modal-imageEdit'>
			<div class="modal-dialog">
				<div class="modal-content">
					<form name="bannerEditForm" novalidate ng-submit="IStorageCtrl.editImage()">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{IStorageCtrl.currentImage.name}}</h4>
						</div>
						
						<div class="modal-body">
							
							<div class="form-group">
								<p><strong>Путь к изображению:</strong></p>
								<p>{{IStorageCtrl.currentImage.path}}</p>
							</div>
							<div class="form-group">
								<label>Название:</label>
								<input class="form-control" ng-model="IStorageCtrl.currentImage.alt" type="text" placeholder='Название' />
							</div>
							<div class="form-group">
								<label>Ссылка:</label>
								<input class="form-control" ng-model="IStorageCtrl.currentImage.link" type="text" placeholder='Ссылка (для баннера)' />
							</div>
							<div class="form-group">
								<div class='row'>
									<div class='col-sm-6'>
										<label>Вес:</label>
										<input class="form-control" ng-model="IStorageCtrl.currentImage.weight" string-to-number type="number" placeholder='Вес' />
									</div>
									<div class='col-sm-6'>
										<label>Цвет фона:</label>
										<input class="form-control" ng-model="IStorageCtrl.currentImage.background" type="text" placeholder='background-color' />
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<div class='row'>
								<div class='col-sm-6 text-left'>
									<!--button type="button" class="btn btn-warning btn-sm" ng-click='IStorageCtrl.delBanner()'>Удалить</button-->
								</div>
								<div class='col-sm-6'>
									<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
									<button type="submit" class="btn btn-success btn-sm">Сохранить</button>
								</div>
							</div>
						</div>
						
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	

