
	<div class="page-header">
		<h4>MarketXML</h4>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						Sets
						<button class='btn btn-xs btn-default' ng-click='MarketXMLCtrl.addSet()'>add new</button>
					</h2>
				</div>
				
				<div class="list-group">
					<span class="list-group-item" ng-class='{active:set.id==MarketXMLCtrl.data.id}' ng-repeat='set in MarketXMLCtrl.sets' ng-click='MarketXMLCtrl.editSet(set)'>
						<h4 class="list-group-item-heading">{{set.name}}</h4>
					</span>
				</div>
				
			</div>
			
		</div>
		
		
		
		<div class="col-md-8">
			
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">{{MarketXMLCtrl.data.name}}</h2>
					<p class="panel-title" ng-show='MarketXMLCtrl.data.id>0'>link: <a href="/marketxml.php?{{MarketXMLCtrl.data.hash}}" target=_blank>/marketxml.php?{{MarketXMLCtrl.data.hash}}</a></p>
				</div>
				
				<div class="panel-body">
					<div class="form-group">
						<label for="modal-input-name">name</label>
						<input type="text" class="form-control" id="modal-input-name" placeholder="name" ng-model="MarketXMLCtrl.data.name">
					</div>
					
					<div class="form-group">
						<label for="modal-input-format">format</label>
						<select id="modal-input-format" class="form-control" ng-model="MarketXMLCtrl.data.format">
							 <option ng-selected="MarketXMLCtrl.data.format == format" ng-repeat="format in MarketXMLCtrl.formats" ng-value="format">{{format}}</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="modal-input-labels">labels</label>
						<input type="text" class="form-control" id="modal-input-labels" placeholder="labels" ng-model="MarketXMLCtrl.data.labels">
					</div>
					
					<div class="form-group">
						<label for="modal-input-description_length">description_length</label>
						<input type="text" class="form-control" id="modal-input-description_length" placeholder="labels" ng-model="MarketXMLCtrl.data.description_length">
					</div>
					
					<div class="form-group" ng-show="MarketXMLCtrl.data.categories!='standart'">
						<label for="modal-input-categories">categories</label>
						<textarea class="form-control" id="modal-input-categories" placeholder="categories" ng-model="MarketXMLCtrl.data.categories">{{MarketXMLCtrl.data.categories}}</textarea>
					</div>
					
					<div class="form-group">
						<label for="modal-input-params">params <small>(=, <>, >=, <=, in, not in, like, not like)</small></label>
						<textarea class="form-control" id="modal-input-params" placeholder="params" ng-model="MarketXMLCtrl.data.params">{{MarketXMLCtrl.data.params}}</textarea>
					</div>
					
				</div>
				
				<div class="panel-footer text-right">
					<button class='btn btn-default' ng-show='MarketXMLCtrl.data.id==0' ng-click='MarketXMLCtrl.saveSet()'>Создать</button>
					<button class='btn btn-default' ng-show='MarketXMLCtrl.data.id>0' ng-click='MarketXMLCtrl.saveSet()'>Записать изменения</button>
				</div>
				
				
			</div>
			
			
		</div>
		
	</div>

