

	<div class="page-header">
		<h4><a href='#/orders'>{{OrderCtrl.header}}</a> / #{{OrderCtrl.data.id}}</h4>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Данные заказа</h2>
				</div>
				
				<div class="list-group">
					
					<span class="list-group-item">
						<h4 class="list-group-item-heading">
							Статус: <strong>{{OrderCtrl.data.status}}</strong>
						</h4>
						<p class="list-group-item-text">Создан: {{OrderCtrl.data.dt}}</p>
						<p class="list-group-item-text">Изменен: {{OrderCtrl.data.dt_edit}}</p>
					</span>
					
					<span class="list-group-item">
						<h4 class="list-group-item-heading">
							Способ оплаты: {{OrderCtrl.data.payment_method}}
						</h4>
					</span>
					
					<span class="list-group-item">
						<h4 class="list-group-item-heading">
							Способ доставки: {{OrderCtrl.data.delivery_method}}
						</h4>
					</span>
					
					<span class="list-group-item">
						<h4 class="list-group-item-heading">
							Данные получателя:
						</h4>
						<p class="list-group-item-text">e-mail: <a href='#/user/{{OrderCtrl.data.user_id}}'>{{OrderCtrl.data.user_mail}}</a></p>
						<p class="list-group-item-text">Телефон: {{OrderCtrl.data.phone}}</p>
						<p class="list-group-item-text">Адрес:
							{{OrderCtrl.data.zipcode}}
							{{OrderCtrl.data.city}}
							{{OrderCtrl.data.address}}
						</p>
						<p class="list-group-item-text">Комментарий к адресу:
							{{OrderCtrl.data.address_comment}}
						</p>
					</span>
					
					<span class="list-group-item" ng-hide='OrderCtrl.data.comment==""'>
						<h4 class="list-group-item-heading">
							Комментарий к заказу:
						</h4>
						<p class="list-group-item-text">
								{{OrderCtrl.data.comment}}
						</p>
					</span>
				</div>
				
			</div>
		</div>
		
		<div class="col-sm-8">
			
			<div class="panel panel-default"><!-- панель товары -->
				<div class="panel-heading">
					<h2 class="panel-title">Заказанные товары ({{OrderCtrl.data.items.length}})</h2>
				</div>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>арт.</td>
							<td>Наименование</td>
							<td>Цена</td>
							<td>Кол-во</td>
							<td>Сумма</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in OrderCtrl.data.items'>
							<td>{{item.article}}</td>
							<td>{{item.name}}</td>
							<td class='text-right'>
								<div ng-show='item.price_discount>0'>
									<small class='text-muted'>{{item.price | number:2}}</small>
									<br>
									{{item.price_discount | number:2}}
								</div>
								<div ng-show='item.price_discount==0'>
									{{item.price | number:2}}
								</div>
							</td>
							<td class='text-center'>{{item.amount}}</td>
							<td class='text-right'>
								<strong>
									{{item.amount*(item.price_discount>0?item.price_discount:item.price) | number:2}}
								</strong>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan='5' class='text-right'>
								<p>Товаров на сумму: <strong>{{OrderCtrl.data.summ | number:2}}</strong></p>
								<p>Стоимость доставки: <strong>{{OrderCtrl.data.delivery_cost | number:2}}</strong></p>
								<p>Предоплата: <strong>{{OrderCtrl.data.prepay | number:2}}</strong></p>
								<h4>К оплате: <strong>{{(1*OrderCtrl.data.summ + 1*OrderCtrl.data.delivery_cost - 1*OrderCtrl.data.prepay) | number:2}}</strong></h4>
							</td>
						</tr>
						<tr>
							<td colspan='5' class='text-right'>
								<button class='btn btn-xs btn-warning' ng-show='OrderCtrl.testClearPrepay()' ng-click='OrderCtrl.clearPrepay()'>Списать предоплату {{OrderCtrl.data.prepay | number:2}}</button>
								<button class='btn btn-xs btn-success' ng-show='OrderCtrl.testSetPrepay()' ng-click='OrderCtrl.setPrepay()'>Установить предоплату {{(1*OrderCtrl.data.summ + 1*OrderCtrl.data.delivery_cost - 1*OrderCtrl.data.prepay) | number:2}}</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div><!-- панель товары -->
			
		</div>
		
	</div>
