

	<div class="page-header">
		<h4>{{OrdersCtrl.header}}</h4>
	</div>


	
	<div class="row">
		
	
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список заказов
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name='id'/>
							</td>
							<td>
								<filter name='dt'/>
							</td>
							<td>
								<filter name='status'/>
							</td>
							<td>
								<filter name='recipient'/>
								<filter name='user_mail'/>
							</td>
							<td>
								<filter name='phone'/>
								<filter name='city'/>
							</td>
							<td>
								<filter name='prepay'/>
								<filter name='delivery_cost'/>
							</td>
							<td>
								<filter name='total'/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in OrdersCtrl.rows' ng-class='{warning:row.status=="новый"}' ng-click='OrdersCtrl.rowClick(row.id)'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td>{{row.status}}</td>
							<td>
								<div>{{row.recipient}}</div>
								<div>{{row.user_mail}}</div>
							</td>
							<td>
								<div>{{row.phone}}</div>
								<div>{{row.city}}</div>
							</td>
							<td class='moneys'>
								<div ng-class="{'text-success':row.prepay>0}"><small>пред. </small><span>{{row.prepay | currency:"":0}}</span></div>
								<div ng-class="{'text-danger':row.delivery_cost>0}"><small>дост. </small><span>{{row.delivery_cost | currency:"":0}}</span></div>
							</td>
							<td class='moneys'>
								<div><small>тов. </small><span>{{row.total | currency:"":0}}</span></div>
								<div><small>итог </small><span><strong>{{(1*row.total+1*row.delivery_cost-1*row.prepay) | currency:"":0}}</strong></span></div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{OrdersCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
