
	<div class="page-header">
		
		<div class='row'>
			<div class='col-sm-8'>
				<h4>Представительства, Партнёры, Торговые точки</h4>
			</div>
			
			<div class='col-sm-4 text-right'>
				
				<button type='button' class="btn btn-default" ng-click="PlacesCtrl.rowClick(0)">Добавить</button>
				
			</div>
		</div>
	</div>



	<div class="row">

		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список контрагентов
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='country'/></td>
							<td><filter name='city'/></td>
							<td><filter name='name'/></td>
							<td><filter name='address'/></td>
							<td><filter name='phone'/></td>
							<td><filter name='url'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in PlacesCtrl.rows' ng-click='PlacesCtrl.rowClick(row.id)'>
							<td>{{row.id}}</td>
							<td>{{row.country}}</td>
							<td>{{row.city}}</td>
							<td>{{row.name}}</td>
							<td>{{row.address}}</td>
							<td>{{row.phone}}</td>
							<td>{{row.url}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{PlacesCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>




