

	<div class="page-header">
		
		<div class='row'>
			<div class='col-sm-8'>
				<h4><a href='#/places'>Представительства, Партнёры, Торговые точки</a></h4>
			</div>
			
			<div class='col-sm-4 text-right'>
				
				<button type='button' class="btn btn-warning" ng-click="PlaceCtrl.delPlace()" ng-show='PlaceCtrl.place.id>0'>
					Удалить
				</button>
				<button type='submit' class="btn btn-success" form='placeform'>
					<span ng-hide='PlaceCtrl.place.id>0'>Добавить</span>
					<span ng-show='PlaceCtrl.place.id>0'>Сохранить</span>
				</button>
				
			</div>
		</div>
	</div>



	<div class="row">

		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<form id='placeform' name='placeform' ng-submit="placeform.$valid && PlaceCtrl.savePlace()" novalidate>
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class="form-group">
							<div class='row'>
							
								<div class='col-xs-12'>
									<input class="form-control" ng-model='PlaceCtrl.place.name' placeholder='Название' required>
								</div>
								
							</div>
						</div>
						<div class="form-group">
							<div class='row'>
							
								<div class='col-xs-6'>
									<input class="form-control" ng-model='PlaceCtrl.place.country' placeholder='Страна'>
								</div>
								<div class='col-xs-6'>
									<input class="form-control" ng-model='PlaceCtrl.place.city' placeholder='Город'>
								</div>
								
							</div>
						</div>
						<div class="form-group">
							<div class='row'>
							
								<div class='col-xs-6'>
									<input class="form-control" ng-model='PlaceCtrl.place.phone' placeholder='Телефоны'>
								</div>
								<div class='col-xs-6'>
									<input class="form-control" ng-model='PlaceCtrl.place.url' placeholder='Адрес сайта'>
								</div>
								
							</div>
						</div>
						<div class="form-group">
							<div class='row'>
							
								<div class='col-xs-12'>
									<textarea class="form-control" ng-model='PlaceCtrl.place.address' placeholder='Адрес'></textarea>
								</div>
								
							</div>
						</div>
						<div class="form-group">
							<div class='row'>
							
								<div class='col-xs-12'>
									<textarea class="form-control" ng-model='PlaceCtrl.place.content' placeholder='Содержимое'></textarea>
								</div>
								
							</div>
						</div>
					</h2>
				</div>
				</form>
				
			</div>
		</div>
	</div>





