

	<div class="page-header">
		<h4>
			{{RedirectsCtrl.header}}
			<button class='btn btn-default btn-xs' ng-click='RedirectsCtrl.addClick()'>Добавить переадресацию</button>
		</h4>
	</div>

	<div class="row">
		
		
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список переадресаций
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-condensed">
					<thead>
						<tr>
							<td><filter name='from'/></td>
							<td><filter name='to'/></td>
							<td><filter name='method'/></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in RedirectsCtrl.rows'>
							<td>{{row.from}}</td>
							<td>{{row.to}}</td>
							<td>{{row.method}}</td>
							<td><span class='icon-edit text-success' ng-click='RedirectsCtrl.editClick($index)'></span>&nbsp;<span class='icon-circledelete text-warning' ng-click='RedirectsCtrl.delClick($index)'></span></td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{RedirectsCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<div class="modal fade" id='modal-redirect'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group">
						<label for="modal-input-descr">from</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="from" ng-model="RedirectsCtrl.redirect.from" ng-change='RedirectsCtrl.saveRedirect()' ng-model-options="{debounce:300}">
					</div>
					<div class="form-group">
						<label for="modal-input-descr">to</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="to" ng-model="RedirectsCtrl.redirect.to" ng-change='RedirectsCtrl.saveRedirect()' ng-model-options="{debounce:300}">
					</div>
					<div class="form-group">
						<label for="modal-input-descr">method</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="method" ng-model="RedirectsCtrl.redirect.method" ng-change='RedirectsCtrl.saveRedirect()' ng-model-options="{debounce:300}">
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id='modal-redirect-add'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Добавить переадресацию</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="modal-input-descr">from</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="from" ng-model="RedirectsCtrl.redirect.from">
					</div>
					<div class="form-group">
						<label for="modal-input-descr">to</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="to" ng-model="RedirectsCtrl.redirect.to">
					</div>
					<div class="form-group">
						<label for="modal-input-descr">method</label>
						<input type="text" class="form-control" id="modal-input-descr" placeholder="method" ng-model="RedirectsCtrl.redirect.method">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-success btn-sm" ng-click='RedirectsCtrl.saveRedirect(true)'>Добавить</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


