
	<div class="page-header">
		<h4>Запросы</h4>
	</div>



	<div class="row">

		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список запросов
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='dt'/></td>
							<td><filter name='name'/></td>
							<td><filter name='contact'/></td>
							<td><filter name='message'/></td>
							<td><filter name='answer'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in RequestsCtrl.rows' ng-class='{warning:row.answer=="не обработано"}' ng-click='RequestsCtrl.rowClick($index)'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td>
								<div>{{row.name}}</div>
							</td>
							<td>
								<div>{{row.contact}}</div>
							</td>
							<td>
								{{row.message}}
							</td>
							<td>
								{{row.answer}}
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{RequestsCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="modal fade" id='modal-request'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{RequestsCtrl.request.name}} <span class="text-muted">{{RequestsCtrl.request.contact}}</span></h4>
				</div>
				<div class="modal-body">
					
					<p><strong>Сообщение:</strong> <span class="text-muted">({{RequestsCtrl.request.dt}})</span></p>
					<p>{{RequestsCtrl.request.message}}</p>
					<br>
					<p><strong>Результат:</strong> <span class="text-muted">({{RequestsCtrl.request.dt_edit}})</span></p>
					<textarea class="form-control" rows="3" ng-model="RequestsCtrl.request.answer" ng-model-options="{debounce:200}" ng-change="RequestsCtrl.saveRequest('{{RequestsCtrl.request.answer}}')"></textarea>
					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



