

	<div class="page-header">
		<h4>
			{{StatisticsCtrl.header}}
		</h4>
	</div>



	<div class="row">
		
		
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Заказы ({{StatisticsCtrl.data.allorders}})</h2>
				</div>
				<br>
				<div ng-repeat="ordersPeriod in StatisticsCtrl.orders">
					
					
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th colspan='3'>
									{{ordersPeriod.periodName}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style='width:50%'>Статус</td>
								<td style='width:15%'>Количество</td>
								<td style='width:35%' class='text-center'>Сумма</td>
							</tr>
							<tr ng-repeat='orders in ordersPeriod.orders' ng-click="StatisticsCtrl.ordersClick(ordersPeriod, orders)" ng-class='{warning:orders.status=="новый"}'>
								<td style='width:50%'>{{orders.status}}</td>
								<td style='width:15%'>{{orders.amount}}</td>
								<td style='width:35%' class='text-right'>{{orders.total | currency:"":0}} руб.</td>
							</tr>
						</tbody>
					</table>
				
				</div>

				
			</div>
		</div>
		
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Запросы ({{StatisticsCtrl.data.allrequests}})</h2>
				</div>
				<br>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td style='width:10%'>Дата</td>
							<td style='width:65%'>Сообщение</td>
							<td style='width:25%'>Результат</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='request in StatisticsCtrl.requests' ng-click="StatisticsCtrl.requestsClick()" ng-class='{warning:request.answer=="не обработано"}'>
							<td style='width:10%'>{{request.dt}}</td>
							<td style='width:65%'>{{request.message}}</td>
							<td style='width:25%'>{{request.answer}}</td>
						</tr>
					</tbody>
				</table>
			
				
			</div>
		</div>
		
		
		
		<div class="col-sm-4">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Регистрация пользователей ({{StatisticsCtrl.data.allusers}})</h2>
				</div>
				
				<br>
				<table class="table table-condensed">
					<tbody>
						<tr ng-repeat='period in StatisticsCtrl.users'>
							<td>
									{{period.periodName}}
							</td>
							<td>
									{{period.amount}}
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Количество посетителей</h2>
				</div>
				
				<br>
			</div>
			
			
		</div>
		
	</div>
