

	<div class="page-header">
		<h4>
			{{StaticHTMLCtrl.header}}
		</h4>
	</div>


	<div class="row">
		
		<div class="col-sm-3">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Файлы HTML</h2>
				</div>
				
				<ul class="list-group">
					
					<li class="list-group-item" ng-repeat='file in StaticHTMLCtrl.files' ng-class='{active:StaticHTMLCtrl.currentFile.name==file.name}' ng-click='StaticHTMLCtrl.changeCurrentFile(file)'>
						<span>{{file.name}}</span>
					</li>
					
				</ul>
				
			</div>
		</div>
		
		
		<div class="col-sm-9 main">
			
			<div class="form-group">
				<textarea class="form-control" rows='15' ng-model='StaticHTMLCtrl.currentFile.content'></textarea>
			</div>
			
			<div class="form-group text-right">
				<button class='btn btn-default' ng-click='StaticHTMLCtrl.saveStaticHTMLFile()'>Сохранить</button>
			</div>
			
		</div>
		
	</div>

