

	<div class="page-header">
		<h4>
			{{SubscribersCtrl.header}}
			<a class='btn btn-default btn-xs' href='./api.php?action=getSubscribers&format=csv'>Скачать CSV</a>
		</h4>
	</div>

	<div class="row">

		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список подписчиков
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='name'/></td>
							<td><filter name='mail'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in SubscribersCtrl.rows' ng-click='SubscribersCtrl.rowClick(row.id)'>
							<td>{{row.id}}</td>
							<td>{{row.name}}</td>
							<td>{{row.mail}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{SubscribersCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
