
	<div class="page-header">
		
		<h4>{{SyncLogsCtrl.header}}</h4>
		
	</div>

	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-primary" ng-repeat='menu in SyncLogsCtrl.menus' ng-class='{active:SyncLogsCtrl.menu==menu.name}' href='#/synclogs/{{menu.name}}'>
					<span>{{menu.header}}</span>
				</a>
			</div>
			
		</div>
		
	</div>
	
	<br>
	
	<div class='row'>
		
		<div class="col-sm-12 main">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Поступившие данные
							</div>
							<div class='col-xs-6 text-right'>
								<pager></pager>
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='dt'/></td>
							<td><filter name='idsync'/></td>
							<td><filter name='article'/></td>
							<td><filter name='status'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in SyncLogsCtrl.rows' ng-click='SyncLogsCtrl.rowClick(row)'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td>{{row.idsync}}</td>
							<td>{{row.article}}</td>
							<td>{{row.status}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{SyncLogsCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		
		
	</div>
	

