
	<div class="page-header">
		<div class='row'>
			
			<div class='col-sm-4'>
				<h4>
					<a href='#/tree'>Страницы сайта</a>
				</h4>
			</div>
			
			<div class='col-sm-8 text-right'>
				
				<!--div class="btn-group" ng-hide='TreeCtrl.linkMode'>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Создать и добавить <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat='type in TreeCtrl.types'
							ng-show='TreeCtrl.slave_types.indexOf(type.class)>=0'
							ng-click='TreeCtrl.addPageWindowShow(type)'>
							<a>{{type.name}}</a></li>
					</ul>
				</div-->
				
				
				<span ng-hide='TreeCtrl.linkMode'>
					Режим сортировки
				</span>
				
				<span ng-show='TreeCtrl.linkMode'>
					Размещение ресурсов
				</span>
				
				
				<button type="button" class="btn btn-default icon-link" ng-class='{active:TreeCtrl.linkMode}' ng-click='TreeCtrl.changeMode()'
					data-toggle="tooltip1" data-placement="top" title="Размещение ресурсов" id='modeTrigger'>
				</button>
				
			</div>
			
		</div>
	</div>


	<div class="row" ng-hide='TreeCtrl.type' id='panelsContainer'>
		
		<div class="col-sm-4" id='tree'>
			
			<script type="text/ng-template" id="node.html">
				
				<span class='page like_a' ng-class='{active:TreeCtrl.activeNode.id==node.id}' ng-click='TreeCtrl.selectNode(node);'>{{node.name||node.alias}}</span>
				<span class='node-trigger'
					ng-class='{"icon-calcminus":node.open===true, "icon-calcplus":node.open===false, "icon-squareapp":node.open===undefined}'
					ng-click="TreeCtrl.toggleTreeNode(node);"></span>
				
				<ul>
					<li ng-repeat="node in node.nodes"
						ng-include="'node.html'"
						ng-class="{open:node.open===true, nochilds:node.nodes.length==0}">
					</li>
				</ul>
				
			</script>
			
			<div ng-include="'node.html'" ng-repeat='node in TreeCtrl.tree'></div>
			
			
			
		</div>
		
		
		<div class="col-sm-8" id='list'>
			<div class="panel panel-default">
				
				<div id='listHeader' class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
							
							<div class='col-xs-12' ng-hide='TreeCtrl.linkMode'>
								<a ng-repeat="node in TreeCtrl.breadCrambs"
									ng-click='TreeCtrl.selectNode(node)'>
									{{node.alias}}
								</a>
							</div>
							
							
							<div class='col-xs-12' ng-show='TreeCtrl.linkMode'>
								<span ng-repeat='param in TreeCtrl.linkModeParameters'>
									<span ng-click='TreeCtrl.changeLinkModeParam(param)' class='btn btn-default btn-xs' ng-class='{active:param==TreeCtrl.linkModeActiveParameter}'>{{param.title}}</span>
								</span>
							</div>
							
						</div>
					</h2>
				</div>

				<div id='tableContainer'>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<td colspan='2'>
									<filter name="header">
								</td>
								<td>
									<filter name="alias">
								</td>
								<td colspan='2'>
									<filter name="type">
								</td>
							</tr>
						</thead>
						<tbody id='sortableChilds'>
							<tr ng-repeat='row in TreeCtrl.rows'
								data-sort="{{row.sort}}" data-id="{{row.id}}">
								<td>
									<img ng-src='{{row.src+"/thumb-"+row.photo}}' fallback-src />
								</td>
								<td>
									<span ng-click='TreeCtrl.selectRow(row)' ng-class="{active:row.childs>0}">{{row.header}}</strong>
								</td>
								<td>
									<a href='#/type/{{row.type}}/{{row.idtype}}/resource'>
										<small>{{row.alias}}</small>
									</a>
								</td>
								<td>{{row.type}}</td>
								<td class='actions'>
									<!--sort actions-->
									<span ng-hide='TreeCtrl.linkMode'>
										<span ng-show='row.sort==1'>
											<i class='icon-arrow-up like_a' ng-click='TreeCtrl.sortTop($event,row.id)'></i>
										</span>
										<span ng-show='row.sort>1' title='{{row.sort}}'>
											<i class='icon-arrow-down' ng-click='TreeCtrl.sortRelease($event,row.id)'></i>
										</span>
									</span>
									<!--link actions-->
									<span ng-show='TreeCtrl.linkMode'>
										<span ng-show='row.linked==1'>
											<i class='icon-link' ng-click='TreeCtrl.disconnectPage(row)'></i>
										</span>
										<span ng-show='row.linked==0'>
											<i class='icon-link like_a' ng-click='TreeCtrl.connectPage(row)'></i>
										</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="listFooter" class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{TreeCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
			
			
			
			
		</div>
		
		
		
	</div>
	
	<modal-add-page></modal-add-page>


