
	<div class="page-header" ng-include="'templates/snippets/type-header.html'"></div>


	<div class="row">
		
		<!-- menu -->
		<aside class="col-sm-3" ng-include="'templates/snippets/type-sidebar.html'">
		</aside>
		
		<!-- common -->
		<div class="col-sm-9 main">
			
			
			
			<div class="panel panel-default">
				<div class="panel-heading">Страница: <a href='{{TypeCtrl.page.fullpath}}' target='_blank'>{{TypeCtrl.page.fullpath}}</a></div>
				<div class="panel-body">
			
					<div class="form-group row">
						<label for="{{field.alias}}" class="col-sm-2 control-label">
							Публикация
						</label>
						<div class="col-sm-10">
							<div class='dateContainer'>
								<div class="input-group date" >
									<input type="text" class="form-control datepicker" ng-model='TypeCtrl.page.dt_public'><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row"  ng-repeat='field in TypeCtrl.fields.pages'>
						<label for="{{field.alias}}" class="col-sm-2 control-label">
							{{field.name}}
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" ng-model='TypeCtrl.page[field.alias]' ng-if="field.type=='input'" id='{{field.alias}}' placeholder="{{field.placeholder}}">
							<textarea class="form-control" ng-model='TypeCtrl.page[field.alias]' ng-if="field.type=='textarea'" id="{{field.alias}}" placeholder="{{field.placeholder}}"></textarea>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	

