

	<div class="page-header">
		<div class='row'>
			
			<div class='col-sm-6'>
				<h4>
					<a href='#/types'>Ресурсы сайта</a>
					<span ng-show='TypesCtrl.type'>&rarr; {{TypesCtrl.typeName}}</span>
				</h4>
			</div>
			
			<div class='col-sm-6 text-right'>
				
				<button type="button" class="btn btn-default" ng-click='TypesCtrl.addPageWindowShow()' ng-show='TypesCtrl.type'>
					Добавить
				</button>
				
			</div>
			
		</div>
	</div>


	<div class="row thumbnails-list" ng-hide='TypesCtrl.type' id='typesButtons'>
		<div ng-repeat="type in TypesCtrl.types" class="col-xs-6 col-md-3">
			<a class='thumbnail' href="#/types/{{type.class}}">
				<h4>{{type.class}}</h4>
				<p>{{type.name}}</p>
			</a>
		</div>
	</div>


	<div class="row" ng-show='TypesCtrl.type'>
		
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Ресурсы
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name="idtype">
							</td>
							<td>
								<filter name="dt">
							</td>
							<td>
								<filter name="dt_edit">
							</td>
							<td>
								<filter name="alias">
							</td>
							<td>
								<filter name="header">
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in TypesCtrl.rows' ng-click='TypesCtrl.rowClick(row.type,row.idtype)'>
							<td>{{row.idtype}}</td>
							<td>{{row.dt}}</td>
							<td>{{row.dt_edit}}</td>
							<td>{{row.alias}}</td>
							<td>{{row.header}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{TypesCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>


	

	<modal-add-page></modal-add-page>
	

