
	<div class="page-header" ng-include="'templates/snippets/type-header.html'"></div>


	<div class="row">
		
		<!-- menu -->
		<aside class="col-sm-3" ng-include="'templates/snippets/type-sidebar.html'">
		</aside>
		
		<!-- images -->
		<div class="col-sm-9 main">
			<div class="clearfix" nv-file-drop="" uploader="TypeCtrl.uploader">
				
				<div ng-show="TypeCtrl.uploader.isHTML5">
					<div class="well my-drop-zone col-sm-12 text-center" nv-file-over="" uploader="TypeCtrl.uploader" onclick='$("#uploaderInput").click()'>
						<span class='like_a'><span class="icon-picture text-"> Загрузка изображений</span></span>
						<br><small>(максимальный размер = {{TypeCtrl.upload_max_filesize}})</small>
					</div>
				</div>
				
				<div ng-show="!TypeCtrl.uploader.isHTML5">
					<div class="col-sm-12">
						Выберите файлы:<br/><small>(максимальный размер = {{TypeCtrl.upload_max_filesize}})</small>
						<input type="file" nv-file-select="" uploader="TypeCtrl.uploader" multiple id='uploaderInput' />
					</div>
				</div>
				
			</div>
			
			<div class="row" ng-show='TypeCtrl.uploader.queue.length > 0'>
				<div class="col-sm-12">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': TypeCtrl.uploader.progress + '%' }"></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div id='sortableImages'>
					
					<div class='col-sm-3' ng-repeat='image in TypeCtrl.images' data-id='{{image.id}}'>
						
						<div class="thumbnail" ng-class='{active:TypeCtrl.resource.photo=="{{image.name}}"}'>
							<img ng-src='{{image.src+"thumb-"+image.name}}' title='{{image.alt}}'>
							<span class='icon-edit like_a' ng-click="TypeCtrl.imageEditWindowShow(image.id)"></span>
							
							<div class="caption page-image-actions">
								<p class='text-center file-name'>
									<strong>{{image.name}}</strong>
								</p>
								<p class='text-center file-alt'>
									{{image.alt}}<span ng-show='!image.alt'>нет описания</span>
								</p>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	
		<!-- IMAGES -->
	
	<div class="modal fade" id='modal-imageEdit'>
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{TypeCtrl.activeImage.name}}</h4>
				</div>
				
				<div class="modal-body">
					<div class='row'>
						<div class='col-sm-6'>
							<img src='{{TypeCtrl.activeImage.src+"thumb-"+TypeCtrl.activeImage.name}}'>
						</div>
						<div class='col-sm-6'>
							<p>
								<b><a href="{{TypeCtrl.activeImage.src}}{{TypeCtrl.activeImage.name}}" target="_blank">{{TypeCtrl.activeImage.name}}</a> - <small>{{TypeCtrl.activeImage.width}}x{{TypeCtrl.activeImage.height}}</small></b>
							</p>
							<p ng-repeat='(nameParam, param) in TypeCtrl.imagesParams'>
								<a href="{{TypeCtrl.activeImage.src+nameParam}}-{{TypeCtrl.activeImage.name}}" target="_blank">{{nameParam}}-{{TypeCtrl.activeImage.name}}</a><small ng-show="param.width>0"> - {{param.width}}x{{param.height}}</small>
							</p>
						</div>
					</div>
					<br>
					<div class='row'>
						<div class="form-group col-sm-12">
							<label>Описание:</label>
							<input class="form-control" ng-model="TypeCtrl.activeImage.alt" type="text" placeholder='Описание (alt)' ng-change="TypeCtrl.imageSave()"  ng-model-options="{debounce:600}"/>
						</div>
					</div>
					
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-sm" ng-click="TypeCtrl.imageRemove()">Удалить</button>
					<button type="button" class="btn btn-success btn-sm" ng-click="TypeCtrl.imageSetMain()">Сделать основным</button>
					<button type="button" class="btn btn-default btn-sm" ng-click="TypeCtrl.imageEditWindowClose()">Закрыть</button>
				</div>
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	

