
	<div class="page-header" ng-include="'templates/snippets/type-header.html'"></div>


	<div class="row">
		
		<!-- menu -->
		<aside class="col-sm-3" ng-include="'templates/snippets/type-sidebar.html'">
		</aside>
		
		
		
		<!-- type -->
		<div class="col-sm-9 main">
			
			
			<div class="panel panel-default">
				<div class="panel-heading">Данные ресурса</div>
				<div class="panel-body">
					<div class="form-group row"  ng-repeat='field in TypeCtrl.fields.type'>
						<label for="{{field.alias}}" class="col-sm-2 control-label">
							{{field.name}}
							<span ng-click='TypeCtrl.tinyMCEShow(field.alias)' ng-if='field.type=="textarea"' class='like_a icon-edit'></span>
							<span ng-click='TypeCtrl.linked.activate(field)' ng-if='field.alias.indexOf("linked_")===0' class='like_a icon-link'></span>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" ng-model='TypeCtrl.resource[field.alias]' ng-if="field.type=='input'" id='{{field.alias}}' placeholder="{{field.placeholder}}">
							<textarea class="form-control" ng-model='TypeCtrl.resource[field.alias]' ng-if="field.type=='textarea'" id="{{field.alias}}" placeholder="{{field.placeholder}}"></textarea>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">Данные страниц</div>
				<div class="panel-body">
					<div class="form-group row">
						<label for="{{field.alias}}" class="col-sm-2 control-label">
							Публикация
						</label>
						<div class="col-sm-10">
							<div class='dateContainer'>
								<div class="input-group date" >
									<input type="text" class="form-control datepicker" ng-model='TypeCtrl.resource.dt_public'><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row"  ng-repeat='field in TypeCtrl.fields.pages'>
						<label for="{{field.alias}}" class="col-sm-2 control-label">
							{{field.name}}
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" ng-model='TypeCtrl.resource[field.alias]' ng-if="field.type=='input'" id='{{field.alias}}' placeholder="{{field.placeholder}}">
							<textarea class="form-control" ng-model='TypeCtrl.resource[field.alias]' ng-if="field.type=='textarea'" id="{{field.alias}}" placeholder="{{field.placeholder}}"></textarea>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		
	</div>
	
	
	
	<div class="modal fade" id='modal-textareaEdit'>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{TypeCtrl.textareaEditField.name}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<textarea class="form-control" ng-model='TypeCtrl.tinyMCEData' ui-tinymce="TypeCtrl.tinymceOptions" id="tinyId"></textarea>
					</div>
					<div class="form-group textareaEdit-thumbnail-container">
						<img class='thumbnail' ng-src='{{image.src+""+image.name}}' title='{{image.alt}}' ng-repeat='image in TypeCtrl.images'>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-success btn-sm" ng-click='TypeCtrl.tinyMCEComplete()'>Применить</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	
	
	<!-- linked_resouses -->
	<div class="modal fade" id='modal-linked'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Привязка ресурсов: {{TypeCtrl.linked.modalTitle}}</h4>
				</div>
				<div class="modal-body">
					
					<div class="input-group">
						<span class="input-group-addon icon-search" id="modal-input-item"></span>
						<input type="text" class="form-control" aria-describedby="modal-input-item"
							ng-model='TypeCtrl.linked.searchString' placeholder="id или наименование"
							ng-change='TypeCtrl.linked.search()' ng-model-options="{debounce:600}">
					</div>
					<br>
					
					<table class="table table-condensed">
						
						<tr ng-repeat='resourse in TypeCtrl.linked.current'>
							<td><img src='{{resourse.src+"/micro-"+resourse.photo}}' title='{{resourse.header}}'></td>
							<td class='text-success'>{{resourse.idtype}}</td>
							<td class='text-success'>{{resourse.header}}</td>
							<td class='text-right'><span ng-click='TypeCtrl.linked.drop($index)' class='icon-calcminus text-warning'></span></td>
						</tr>
						
						<tr ng-repeat='resourse in TypeCtrl.linked.searchResult'>
							<td><img src='{{resourse.src+"/micro-"+resourse.photo}}' title='{{resourse.header}}'></td>
							<td>{{resourse.idtype}}</td>
							<td>{{resourse.header}}</td>
							<td class='text-right'><span ng-click='TypeCtrl.linked.add($index)' class='icon-calcplus text-success'></span></td>
						</tr>
						
					</table>
					
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

