
	<div class="page-header" ng-include="'templates/snippets/type-header.html'"></div>


	<div class="row">
		
		<!-- menu -->
		<aside class="col-sm-3" ng-include="'templates/snippets/type-sidebar.html'">
		</aside>
		
		
		
		<!-- type -->
		<div class="col-sm-9 main">
			
			
			<div class="panel panel-default">
				<div class="panel-heading">Настройки</div>
				<div class="panel-body">
					<div class="form-group row">
						<div class="col-sm-6">
							<p>Разрешить комментарии</p>
							<p ng-repeat='(trigger,name) in TypeCtrl.commentedValues'>
								<label class="btn btn-xs btn-default" ng-class="{active:TypeCtrl.resource.commented==trigger}">
									<input type="radio" class="btn btn-default" ng-model='TypeCtrl.resource.commented' value="{{trigger}}">{{name}}
								</label>
							</p>
						</div>
						<div class="col-sm-6">
							<p>Модерация комментариев</p>
							<p ng-repeat='(trigger,name) in TypeCtrl.moderatedValues'>
								<label class="btn btn-xs btn-default" ng-class="{active:TypeCtrl.resource.moderated==trigger}">
									<input type="radio" class="btn btn-default" ng-model='TypeCtrl.resource.moderated' value="{{trigger}}">{{name}}
								</label>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			

			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Комментарии
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td>
								<filter name='dt'/>
							</td>
							<td>
								<filter name='name'/>
							</td>
							<td>
								<filter name='contact'/>
							</td>
							<td>
								<filter name='message'/>
							</td>
							<td>
								<filter name='answer'/>
							</td>
							<td>
								<filter name='status'/>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in TypeCtrl.comments' ng-class='{warning:row.status=="check"}' ng-click='TypeCtrl.commentRowClick(row.id)'>
							<td>{{row.dt}}</td>
							<td>{{row.name}}</td>
							<td>{{row.contact}}</td>
							<td>{{row.message | limitTo : 80}}</td>
							<td>{{row.answer | limitTo : 80}}</td>
							<td>{{row.status}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{TypeCtrl.comments_found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
			
			
		</div>
		
	</div>
	

