

	<div class="page-header">
		
		
		<div class='row'>
			
			<div class='col-sm-6'>
				<h4><a href='#/users'>{{UserCtrl.header}}</a> / #{{UserCtrl.data.id}}</h4>
			</div>
			
			<div class='col-sm-6 text-right'>
				
				<button type="button" class="btn btn-default" ng-click='UserCtrl.save()'>
					Сохранить
				</button>
				
			</div>
			
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Данные пользователя</h2>
				</div>
				
				
				<div class="list-group">
					
					<span class="list-group-item">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="name" class="col-sm-2 control-label">Имя</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="name" placeholder="Имя" ng-model='UserCtrl.data.name'>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model='UserCtrl.data.mail'>
								</div>
							</div>
							<div class="form-group">
								<label for="phone" class="col-sm-2 control-label">Phone</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="phone" placeholder="Phone" ng-model='UserCtrl.data.phone'>
								</div>
							</div>
							<div class="form-group">
								<label for="Groups" class="col-sm-2 control-label">Groups</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="Groups" placeholder="Groups" ng-model='UserCtrl.data.groups'>
								</div>
							</div>
						</form>
					</span>
					<span class="list-group-item">
						<h4 class="list-group-item-heading">Счет: <span ng-click='UserCtrl.getOperations()' class='like_a'>{{UserCtrl.data.balance | number:2}}</span></h4>
					</span>
					<span class="list-group-item">
						<p class="list-group-item-text">Дата регистрации: {{UserCtrl.data.dtreg}}</p>
						<p class="list-group-item-text">Последнее посещение: {{UserCtrl.data.dtlast}}</p>
					</span>
				</div>
				
			</div>
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Адреса доставки ({{UserCtrl.data.addresses.length}})</h2>
				</div>
				
				<div class="list-group" ng-repeat='address in UserCtrl.data.addresses'>
					<span class="list-group-item">
						<h4 class="list-group-item-heading">{{address.country}} {{address.city}}</h4>
						<p class="list-group-item-text">{{address.zipcode}} {{address.address}}</p>
						<p class="list-group-item-text">{{address.recipient}} {{address.phone}}</p>
						<p class="list-group-item-text">{{address.address_comment}}</p>
					</span>
				</div>
				
			</div>
		</div>
		
		
		
		<div class="col-md-6">
			
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Корзина ({{UserCtrl.data.basket.length}})</h2>
				</div>
				
				
				<div class="list-group" ng-repeat='item in UserCtrl.data.basket'>
					<span class="list-group-item" href='#/order/{{order.id}}'>
						<p class="list-group-item-text">
							<div class='row'>
								<div class='col-xs-1'>{{item.item}}</div>
								<div class='col-xs-2'>{{item.article}}</div>
								<div class='col-xs-5'>{{item.name}}</div>
								<div class='col-xs-2'>{{item.amount}}</div>
								<div class='col-xs-2'>
									{{item.price}}<br>
									{{item.price_discount}}<br>
									{{item.discount_type}}
								</div>
							</div>
						</p>
					</span>
				</div>
				
			</div>
			
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">Заказы ({{UserCtrl.data.orders.length}})</h2>
				</div>
				
				<div class="list-group" ng-repeat='order in UserCtrl.data.orders'>
					<a class="list-group-item" href='#/order/{{order.id}}'>
						<p class="list-group-item-text">
							<div class='row'>
								<div class='col-xs-3'>{{order.dt}}</div>
								<div class='col-xs-3'>{{order.id}}</div>
								<div class='col-xs-3'>{{order.status}}</div>
								<div class='col-xs-3'>{{order.summ}}</div>
							</div>
						</p>
					</a>
				</div>
			</div>
			
			
		</div>
		
	</div>

<div class="modal fade" id='modal-operations'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Операции по аккаунту {{BillingBalanceCtrl.currentAccountOperations}}</h4>
			</div>
			<div class="modal-body">
				<table class="table table-hover table-condensed">
					<tbody>
						<tr ng-repeat='row in UserCtrl.operations'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td class='text-right'>
								<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ | number:2}}</span>
							</td>
							<td>
								{{row.descr}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

