

	<div class="page-header">
		
		
		<div class='row'>
			
			<div class='col-sm-6'>
				<h4>{{UsersCtrl.header}}</h4>
			</div>
			
			<div class='col-sm-6 text-right'>
				
				<a class='btn btn-default' href='#/user/0'>
					Добавить
				</a>
				
			</div>
			
		</div>
		
	</div>

	<div class="row">

		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Список пользователей
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='dtreg'/></td>
							<td><filter name='name'/></td>
							<td><filter name='mail'/></td>
							<td><filter name='phone'/></td>
							<td><filter name='groups'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in UsersCtrl.rows' ng-class='{warning:row.groups!="user"}' ng-click='UsersCtrl.rowClick(row.id)'>
							<td>{{row.id}}</td>
							<td>{{row.dtreg}}</td>
							<td>{{row.name}}</td>
							<td>{{row.mail}}</td>
							<td>{{row.phone}}</td>
							<td>{{row.groups}}</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{UsersCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

