

	<div class="page-header">
		<h4>{{YandexKassaCtrl.header}}</h4>
	</div>

	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h2 class="panel-title">
						<div class='row'>
						
							<div class='col-xs-6'>
								Платежи Яндекс.Касса
							</div>
							<div class='col-xs-6 text-right'>
								
							</div>
						</div>
					</h2>
				</div>
				
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<td><filter name='id'/></td>
							<td><filter name='dt'/></td>
							<td><filter name='order_id'/></td>
							<td><filter name='user_mail'/></td>
							<td><filter name='type'/></td>
							<td><filter name='status'/></td>
							<td><filter name='summ'/></td>
							<td><filter name='summ_received'/></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='row in YandexKassaCtrl.rows' ng-click='YandexKassaCtrl.paymentWindowShow($index)'>
							<td>{{row.id}}</td>
							<td>{{row.dt}}</td>
							<td>{{row.order_id}}</td>
							<td>{{row.user_mail}}</td>
							<td>{{row.type}}</td>
							<td>{{row.status}}</td>
							<td class='text-right'>
								<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ | number:2}}</span>
							</td>
							<td class='text-right'>
								<span class='text-success' ng-class='{"text-danger":row.summ<0}'>{{row.summ_received | number:2}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<div class='row'>
						<div class='col-xs-6'>
							rows - {{YandexKassaCtrl.data.found_rows}}
						</div>
						<div class='col-xs-6 text-right'>
							<pager></pager>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

<div class="modal fade" id='modal-payment'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Операция</h4>
			</div>
			<div class="modal-body">
				
				<div class='row'>
					<div class='col-xs-2'>
						<b>id:</b>
						{{YandexKassaCtrl.currentRow.id}}
					</div>
					<div class='col-xs-5'>
						<b>dt:</b>
						{{YandexKassaCtrl.currentRow.dt}}
					</div>
					<div class='col-xs-5'>
						<b>user_mail:</b>
						{{YandexKassaCtrl.currentRow.user_mail}}
					</div>
				</div>
				<br>
				<b>check_params</b>
				<textarea class="form-control" rows="4">
					{{YandexKassaCtrl.currentRow.check_params}}
				</textarea>
				<br>
				<b>check_answer</b>
				<p>
					{{YandexKassaCtrl.currentRow.check_answer}}
				</p>
				<br>
				<b>aviso_params</b>
				<textarea class="form-control" rows="4">
					{{YandexKassaCtrl.currentRow.aviso_params}}
				</textarea>
				<br>
				<b>aviso_answer</b>
				<p>
					{{YandexKassaCtrl.currentRow.aviso_answer}}
				</p>
				
			</div>
			<div class="modal-footer">
				<button type="button" class='btn btn-warning' ng-click='YandexKassaCtrl.returnMoney()'>Вернуть деньги</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



